<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout1}">
<head>

    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- css files for DataTables -->

</head>

<body>
<th:block layout:fragment="content">


<div class="container1">
<button id="deleteSelected" class="btn btn-danger">거래처 삭제</button>
<table id="company_list" class="table table-striped table-bordered order-detail-table">
    <thead>
    <tr>
        <th></th>
        <th>거래처명</th>
        <th>연락처</th>
        <th>담당자</th>
        <th>주소</th>
        <th>주요 거래품</th>
    </tr>
    </thead>
</table>
</div>


<!-- JavaScript 파일은 body 끝 부분에 위치 -->
<script th:inline="javascript">
    // 기본적인 스크립트 추가
    var table = null;
    $(document).ready(function() {
        table = $('#company_list').DataTable({
            responsive: {
                details: {
                    type: 'column',
                    target: -1,
                }
            },
            columnDefs: [
                {
                    orderable: false,
                    render: DataTable.render.select(),
                    targets: 0
                },
                {
                    targets: 0, width: 200
                },
                {
                    targets: 1, width: 200
                },
                // {
                //     targets: 2, width: 200
                // },
                // {
                //     targets: 3, width: 200
                // },
                // {
                //     targets: 4, width: 200
                // },
                // {
                //     targets: 5, width: 200
                // },


            ],
            select: {
                style: 'os',
                selector: 'td:first-child',
                headerCheckbox: false
            },
            order: [ 1, 'asc' ],
            ajax: {
                url: '/api/company/list', // 서버 API URL
                type: 'GET'
            },
            columns: [
                { data: null, defaultContent: '' },
                { data: 'company_name'},
                { data: 'company_tel_number'},
                { data: 'company_manager'},
                { data: 'company_address'},
                { data: 'trade_goods'}
            ]
        });

        $('#deleteSelected').on('click', function () {
            var selectedRows = table.rows({selected: true}).data();
            var selectedCompany = [];

            selectedRows.each(function (data) {
                selectedCompany.push(data.company_code); // 각 행의 고유 ID 수집
            });

            if (selectedCompany.length > 0) {
                $.ajax({
                    url: '/api/company/delete',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(selectedCompany), // 선택된 ID 목록을 JSON 형식으로 전송
                    success: function (response) {
                        table.rows({selected: true}).remove().draw(false);
                        alert("거래처가 삭제되었습니다.");
                    },
                    error: function (xhr, status, error) {
                        alert('삭제 중 오류가 발생했습니다.');
                    }
                });
            } else {
                alert('삭제할 행을 선택해주세요.');
            }
        });

    });



</script>
</th:block>
</body>
</html>
