<!DOCTYPE html>
<!-- 출하지시서 리스트 페이지 -->
<html lang='en' xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout1}">
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!-- css files for DataTables -->

<!--    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />-->
<!--    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>-->
<!--    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>-->
<!--    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>-->
<!--    <script src="https://cdn.datatables.net/autofill/2.7.0/js/autoFill.bootstrap5.min.js"></script>-->
<!--    <script src="https://cdn.datatables.net/autofill/2.7.0/js/dataTables.autoFill.min.js"></script>-->
<!--    <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.min.js"></script>-->
<!--    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.bootstrap5.min.js"></script>-->
<!--    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.colVis.min.js"></script>-->
<!--    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>-->
<!--    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>-->
<!--    <script src="https://cdn.datatables.net/select/2.0.3/js/dataTables.select.js"></script>-->
<!--    <script src="https://cdn.datatables.net/select/2.0.3/js/select.dataTables.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>-->

<!--    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />-->
<!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.min.css" />-->
<!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/autofill/2.7.0/css/autoFill.bootstrap5.min.css" />-->
<!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.bootstrap5.min.css" />-->
    <style>
        .container1 {
            padding-left: 300px;
            padding-top: 50px;
        }
    </style>
</head>


<body>
<th:block layout:fragment="content">
<div class="navbar navbar-vertical navbar-expand-lg" th:replace="~{/fragments/header::header}"></div>
<div class="container1">
    <form th:object="${shipment}">
        <div>
            <label>번호</label>
            <input type="text" th:value="${shipment.shipment_Number}" readonly>
        </div>
        <div>
            <label>생산완료일</label>

        </div>
        <div>
            <label>출하일</label>
            <input type="text" th:field="*{shippingDate}">
        </div>
        <div>
            <label>납품일</label>
            <input type="text" th:field="*{deliveryDate}">
        </div>

        <div>
            <div>
                <label>거래처</label>
                <input type="text" th:field="*{company_name}">
            </div>

            <div>
                <label>거래처 주소</label>
                <input id="companyAddress" th:value="${company.company_address}"  type="text" readonly>
            </div>
            <div>
                <label>담당자</label>
                <input type="text" th:value="${company.company_manager}" readonly>
            </div>
            <div>
                <label>연락처</label>
                <input type="text" th:value="${company.company_tel_number}" readonly>
            </div>
        </div>




            <div>
                <label>수주번호</label>
                <input type="text" th:field="*{order_Number}">
            </div>
            <div>
                <label>제품명</label>
                <input type="text" th:field="*{productionName}">
            </div>
            <div>
                <label>출하수량</label>
                <input type="text" th:field="*{shipment_Amount}">
            </div>
            <div>
                <label>총 중량</label>
    <!--            출하수량 * 2.4-->
                <input type="text">
            </div>

    </form>
    <form action="/carrier/register" method="post" th:object="${carrier}">


        <input type="hidden" name="shipment_Number" th:value="${shipment.shipment_Number}">

        <div>
            <label>운송업체명</label>
            <input type="text" name="carrier_Name" th:field="*{carrier_Name}">
        </div>

        <div>
            <label>연락처</label>
            <input type="text" name="carrier_PhoneNumber" th:field="*{carrier_PhoneNumber}">
        </div>

        <div>
            <label>운송수단</label>
            <input type="text" name="carrier_Vehicle"  th:field="*{carrier_Vehicle}">
        </div>

        <div>
            <label>운송가격</label>
            <input type="text" name="carrier_Price" th:field="*{carrier_Price}">
        </div>

        <div>
            <label>담당자</label>
            <input type="text" name="carrier_manager" th:field="*{carrier_manager}">
        </div>

        <div>
            <button id="registerShipmentDetail" class="submit-button" th:text="${shipment.state == 'completed' ? '출하지시서 수정' : '출하지시서 등록'}"></button>
        </div>
    </form>
</div>
</th:block>




</body>

</html>
