<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout1}">
<head>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- css files for DataTables -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/autofill/2.7.0/js/autoFill.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/autofill/2.7.0/js/dataTables.autoFill.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdn.datatables.net/select/2.0.3/js/dataTables.select.js"></script>
    <script src="https://cdn.datatables.net/select/2.0.3/js/select.dataTables.js"></script>

    <!-- 납품일 캘린더 사용 -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/autofill/2.7.0/css/autoFill.bootstrap5.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.bootstrap5.min.css" />
    <meta charset="UTF-8">
    <title>수주등록</title>
    <th:block layout:fragment="css">
    <style>
        .button-container {
            text-align: right;
            margin-bottom: 20px;
        }
        .order-add-table {
            width: 100%;
            table-layout: fixed;
        }
        .order-add-table th, .order-add-table td {
            padding: 5px;
            text-align: center;
            vertical-align: middle;
        }
        .order-add-table input {
            width: 70%;
            box-sizing: border-box;
        }
    </style>
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container1" style="margin: 40px">
        <div class="button-container">
            <button class="btn btn-primary" onclick="addNewOrder()">추가</button>
            <button class="btn btn-outline-info" id="add-btn" >저장</button>
        </div>
        <!-- 수주 등록하는 부분 -->
        <table id="orderAdd" class="table table-striped table-bordered order-add-table">
            <thead>
            <tr>
                <th>거래처</th>
                <td>
                    <select id="customer">
                        <option></option>
                        <option>쿠팡</option>
                        <option>삼성</option>
                        <option>옥션</option>
                    </select>
                </td>
                <th>제품명</th>
                <td>
                    <select id="product">
                        <option></option>
                        <option>양배추즙</option>
                        <option>흑마늘즙</option>
                        <option>석류젤리</option>
                        <option>매실젤리</option>
                    </select>
                </td>

                <th>수량</th>
                <td><input type="text" id="orderQuantity" name="orderNum">Box</td>
                <th>납품일</th>
                <td><input type="date" id="deliveryDate" name="deliveryDate"></td>
                <th>등록자</th>
                <td>
                    <select id="registrar">
                        <option></option>
                        <option>최형석</option>
                        <option>강두일</option>
                        <option>김진영</option>
                        <option>손현민</option>
                    </select>
                </td>
            </tr>
            </thead>
        </table>
        <!-- 추가된 수주 테이블 -->
        <table id="orderMng" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkAll"></th>
                    <th scope="col">거래처</th>
                    <th scope="col">제품명</th>
                    <th scope="col">수주일자</th>
                    <th scope="col">수주수량</th>
                    <th scope="col">납품일</th>
                    <th scope="col">등록자</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="button-container">
            <button class="btn btn-outline-warning" onclick="deleteSelectedRows()">삭제</button>
        </div>
    </div>

    <!-- script -->
    <script th:inline="javascript">
        // 추가 버튼 클릭 시 실행될 함수
        function addNewOrder() {
            //각 입력 필드의 값을 가져오기
            var customer = $('#customer').val();
            var product = $('#product').val();
            var orderDate = new Date;
            let year = orderDate.getFullYear(); // 년도
            let month = orderDate.getMonth() + 1;  // 월
            let date = orderDate.getDate();  // 날짜
            console.log(orderDate+ "여기")
            var orderQuantity = $('#orderQuantity').val();
            var deliveryDate = $('#deliveryDate').val();
            var registrar = $('#registrar').val();

            //필수 입력 필드가 비어있는지 확인
            if (!customer || !product || !orderDate || !orderQuantity || !deliveryDate || !registrar) {
                alert('수주를 등록해주세요.');
                return;
            }

            //중복 제품 확인
            var isDuplicate = false;
            $('#orderMng tbody tr').each(function () {
                var existingProduct = $(this).find('td:eq(2)').text();
                if (existingProduct == product) {
                    isDuplicate = true;
                    return false;
                }
            });
            if (isDuplicate){
                alert('중복 되는 제품입니다.');
                return;
            }


            //새로운 행을 생성하고 값 삽입
            var newRowHtml = `
                <tr>
                <td><input type="checkbox" class="rowCheckbox"></td>
                <td>${customer}</td>
                <input class="customer" type="hidden" value="${customer}">
                <td>${product}</td>
                <input class="product" type="hidden" value="${product}">
                <td>${year+"-"+month+"-"+date}</td>
                <input class="orderDate" type="hidden" value="${year+"-0"+month+"-"+date}">
                <td>${orderQuantity} Box</td>
                <input class="orderQuantity" type="hidden" value="${orderQuantity}">
                <td>${deliveryDate}</td>
                <input class="deliveryDate" type="hidden" value="${deliveryDate}">
                <td>${registrar}</td>
                <input class="register" type="hidden" value="${registrar}">
                </tr>
            `;

            //새로운 행 추가
            $('#orderMng tbody').append(newRowHtml);

            //입력 필드 초기화
            $('#customer').val('');
            $('#product').val('');
            $('#orderDate').val('');
            $('#orderQuantity').val('');
            $('#deliveryDate').val('');
            $('#registrar').val('');
        }

        // 삭제 버튼 클릭 시 삭제
        function deleteSelectedRows() {
            //체크된 체크박스가 있는지 확인
            if ($('.rowCheckbox:checked').length == 0){
                alert('삭제할 항목을 선택해 주세요.');
                return;
            }
            $('.rowCheckbox:checked').each(function (){
                $(this).closest('tr').remove();
            });
        }

        //체크박스 전체 선택/해제
        $('#checkAll').click(function (){
            $('.rowCheckbox').prop('checked', this.checked);
        })
    </script>
    <script th:inline="javascript">
        //수주 등록 스크립트

        $(document).on('click','#add-btn',function(){

            var dataArray = [];
            for (let i = 0; i < $('.customer').length ; i++) {

                var company_name =  $('.customer').eq(i).val();
                var productName= $('.product').eq(i).val();
                var order_Date= $('.orderDate').eq(i).val();
                var order_Amount =$('.orderQuantity').eq(i).val();
                var delivery_Date =$('.deliveryDate').eq(i).val();
                var writer = $('.register').eq(i).val();

                dataArray[i] = {company_name,productName,order_Date,order_Amount,delivery_Date,writer};
            }

            console.log(dataArray[0]);
            console.log(dataArray[1]);
            console.log(dataArray[2]);

                fetch("/api/addOrder", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(dataArray),
                }).then(() => {
                    alert("수주가 등록되었습니다.");
                    location.replace("order_reg");
                });
        });
    </script>
</th:block>
</body>
</html>